PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://neondb_owner:npg_VDPyvNCpT7I1@ep-muddy-breeze-ax970vmg-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# (Opcional) Caché Remoto con Upstash Redis ($0 USD / Mes)
# UPSTASH_REDIS_REST_URL=https://your-database.upstash.io
# UPSTASH_REDIS_REST_TOKEN=your-token

# (Opcional) Auditoría en vivo con Better Stack ($0 USD / Mes)
# BETTER_STACK_SOURCE_TOKEN=your-source-token